.add-review {
  hr {
    margin-bottom: 0.5rem;
  }

  @media (max-width: $bp-medium) {
    width: 80%;
    margin: auto;

    .add-review-content {
      width: 80%;
      margin: auto;
    }
  }

  .add-review-button {
    display: block;
    margin: 0.5em auto;
    background-color: $c-yellow;
    color: $c-red-light;
    border: 0;
    padding: 0.5em 1.5em;
    font-weight: bold;
    font-size: inherit;
    font-family: inherit;
    border-radius: 1.5em;

    &:hover {
      background-color: #e3d582;
      cursor: pointer;
    }
  }

  .clicked {
    background-color: #e3d582;
  }

  .add-review-content {
    background-color: $c-yellow;
    color: $c-red-light;
    font-weight: bold;
    padding: 1em;
    border-radius: 1.5em;
    display: none;
    padding-bottom: 2.5em;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  form {
    input {
      margin: 0.25em 0;
    }
    .post-review-rating-container {
      display: flex;
      .post-review-rating {
        display: flex;
        flex-direction: row-reverse;

        padding-left: 0.5em;

        label:not(:first-child) {
          background-size: 100%;
          background-image: url("/img/hat-nofill.png");
          display: inline-block;
          width: 25px;
          height: 25px;
          position: relative;
          &:hover {
            cursor: pointer;
            background-image: url("/img/hat-fill.png");
          }
          &:hover ~ label {
            background-image: url("/img/hat-fill.png");
          }
        }

        input {
          display: none;
        }
      }
    }

    .hat-filled {
      background-image: url("/img/hat-fill.png") !important;
    }

    .hat-not-filled {
      background-image: url("/img/hat-nofill.png") !important;
    }
    /*
    .post-rating-list {
      display: inline-block;
      gap: 0.5em;
      list-style-type: none;

      .review-hat.nofill {
        background-size: 100%;
        background-image: url("/img/hat-nofill.png");
        display: inline-block;
        width: 25px;
        height: 25px;

        &:hover {
          cursor: pointer;
          background-image: url("/img/hat-fill.png");
        }
      }

      .review-hat.filled {
        background-image: url("/img/hat-fill.png");
        width: 25px;
        height: 25px;
        background-size: 100%;
        display: inline-block;
      }
    }*/
  }

  label#review-comment {
    display: block;
    padding-bottom: 0.25em;
  }

  input#name {
    width: 50%;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
  }

  .submit-review {
    padding: 0.5em 0.8em;
    background-color: $c-red-light;
    color: $c-gray-light;
    margin-left: auto;
    font-weight: bold;
    margin-right: 0;
    border-radius: 1em;
    float: right;
    border: none;
    cursor: pointer;
  }

  .add-review-login {
    @extend .submit-review;
  }
}
