.movie-rating-hats {
    list-style-type: none;
    display: flex;
    padding-bottom: 0.2rem;
    justify-content: center;
    
    .hat-fill, .hat-halffill, .hat-nofill {
        width: 25px;
        height: 25px;
        background-size: 100%;
        display: block;
    }

    .hat-nofill {
        background-image: url("/img/hat-nofill.png");
    }

    .hat-fill {
        background-image: url("/img/hat-fill.png");
    }

    .hat-halffill {
        background-image: url("/img/hat-halffill.png");
    }
}