<script src="/js/addReviewClient.js" defer></script>

<div class="add-review">
    <button class="add-review-button">Write a review</button>
    <div class="add-review-content">
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" /><br />

        <label for="rating">Rating:</label>
        <input type="number" min="0" max="5" id="rating" name="rating" /><br />
      </form>
      <label for="comment">Write a comment: (Optional)</label><br />
      <textarea cols="25" rows="4"></textarea><br />
      <button class="submit-review">Submit review</button>
    </div>
  </div>