<script src="/js/addReviewClient.js" defer></script>

<div class="add-review">
    <button class="add-review-button">Skriv en recension</button>
    <div class="add-review-content">
      <form>
        <label for="name">Namn:</label>
        <input type="text" id="name" name="name" /><br />

        <label for="rating">Betyg:</label>
        <input type="number" id="rating" name="rating" /><br />

        <label for="comment">Skriv en kommentar <small>(Valfritt)</small></label><br />
        <textarea id="comment" cols="25" rows="4"></textarea>
      </form>
      <button class="submit-review">Lämna in recension</button>
    </div>
  </div>