<script src="/js/addReviewClient.js" defer></script>

<div class="add-review">
  <button class="add-review-button">Skriv en recension</button>
  <div class="add-review-content">
    <form>
      <div class="add-review-logged-out">
        <button type="button" id="login" class="add-review-login">
          Logga in
        </button>
        <label for="username">Användarnamn:</label>
        <input type="text" id="username" autocomplete="username" /><br />
        <label for="password">Lösenord:</label>
        <input type="password" id="password" autocomplete="current-password" />
      </div>
      <div class="add-review-logged-in hide">Du är inloggad!</div>

      <hr />
      <label for="name">Namn:</label>
      <input type="text" id="name" name="name" /><br />
      <div class="post-review-rating-container">
        <label for="rating">Betyg:</label>
        <div class="post-review-rating">
          <input type="radio" name="rating" value="5" id="5" /><label
            for="5"
          ></label>
          <input type="radio" name="rating" value="4" id="4" /><label
            for="4"
          ></label>
          <input type="radio" name="rating" value="3" id="3" /><label
            for="3"
          ></label>
          <input type="radio" name="rating" value="2" id="2" /><label
            for="2"
          ></label>
          <input type="radio" name="rating" value="1" id="1" /><label
            for="1"
          ></label>
        </div>
      </div>
      <label id="review-comment" for="comment"
        >Skriv en kommentar: (Valfritt)</label
      >
      <textarea id="comment" cols="25" rows="4"></textarea>
      <p class="add-review-not-logged-warning hide">Du måste logga in först!</p>
      <button class="submit-review">Skicka recension</button>
    </form>
  </div>
</div>
