<footer>
	<div class="footer-section">
		<h3 class="footer-header">Tomtens Biograf</h3>
		<p class="footer-text">
			Storgatan 23 <br />
			999 00 Mellankalix
		</p>
	</div>

	<div class="footer-section">
		<h3 class="footer-header">Kontakta oss</h3>
		<p class="footer-text">
			E-post: <a href="" class="footer-link">info@tomtensbiograf.se</a>
		</p>
		<p class="footer-text">Telefon: 999 - 000 22 33</p>
		<p class="footer-text">
			Följ oss på <a href="" class="footer-link">Facebook</a> och
			<a href="" class="footer-link">Instagram</a>
		</p>
	</div>

	<div class="footer-section">
		<h3 class="footer-header">I samarbete med:</h3>
		<img
			src="/img/sponsors/sponsor_sfilm.png"
			alt="Nån sponsor, typ"
			class="footer-image"
		/>
		<img alt="Tomtemor" class="footer-image" />
	</div>
</footer>
