<script src="/js/hamburgerMenu.js" defer></script>
<!-- <script src="/js/search.js" type="module" defer></script> -->

<header>
	<a href="/">
		<img class="header-logo" role="button" src="/img/logo.svg" alt="logo" />
	</a>
	<button class="header-list-toggle"></button>
	<ul class="header-list">
		<li class="header-list-item">
			<a href="/open">Öppettider & Kontakt</a>
		</li>
		<li class="header-list-item"><a href="/about">Om Oss</a></li>
		<li class="header-list-item"><a href="/ticketInfo">Biljettinfo</a></li>
		<li class="header-list-item"><a href="/newsletter">Nyhetsbrev</a></li>
		<li class="header-list-item">
			<a href="/giftcert">Presentkort</a>
		</li>
		<li class="header-list-item">
			<a href="https://www.facebook.com" target="_blank"
				><img src="/img/facebook.png" alt="Facebook"
			/></a>
			<a href="https://www.instagram.com" target="_blank"
				><img src="/img/instagram.png" alt="Instagram"
			/></a>
			<a href="https://www.twitter.com" target="_blank"
				><img src="/img/twitter.png" alt="Twitter"
			/></a>
		</li>
		<li>
			<!-- <div class="search-bx">
				<div class="search">
					<input
						type="text"
						placeholder="Sök film..."
						id="search"
						data-search
					/>
					<i class="material-symbols-outlined" id="search-icon">search</i>
					<div class="search-bx2" id="movies-filter"></div>
				</div>
			</div> -->
		</li>
	</ul>
</header>
