<script src="/js/navMenu.js" defer></script>

<nav>
	<ul class="nav-list">
		<li class="nav-list-item">
			<div class="dropdown">
				<button class="dropdown-button">
					Repertoar
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content" id="dropdown-repertoar">
					<a href="/placeholder">Hela bioprogrammet</a>
					<a href="/coming">Kommande premiärer</a>
					<a href="/placeholder">Erbjudande på matinéfilm</a>
				</div>
			</div>
		</li>

		<li class="nav-list-item">
			<div class="dropdown">
				<button class="dropdown-button">
					Serverade salonger
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content" id="dropdown-salonger">
					<a href="/placeholder">Salong Alcatraz</a>
					<a href="/placeholder">Salong Bar Deco</a>
					<a href="/placeholder">Salong Camera</a>
				</div>
			</div>
		</li>

		<li class="nav-list-item">
			<div class="dropdown">
				<button class="dropdown-button">
					Specialvisningar
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content" id="dropdown-specialvisningar">
					<a href="/placeholder">Klassiker</a>
					<a href="/placeholder">Sing Along</a>
					<a href="/placeholder">Den Dåliga Filmklubben</a>
					<a href="/placeholder">Frukostbio</a>
					<a href="/placeholder">Cinemateket</a>
					<a href="/placeholder">Nyår på Tomtens Biograf</a>
					<a href="/placeholder">Hollywood om Hollywood</a>
				</div>
			</div>
		</li>

		<li class="nav-list-item">
			<div class="dropdown">
				<button class="dropdown-button">
					Live på bio
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content" id="dropdown-live">
					<a href="/placeholder">Hela programmet</a>
					<a href="/placeholder">Opera</a>
					<a href="/placeholder">Teater</a>
					<a href="/placeholder">Konst</a>
					<a href="/placeholder">Konsert</a>
				</div>
			</div>
		</li>

		<li class="nav-list-item">
			<div class="dropdown">
				<button class="dropdown-button">
					Bar & Bistro
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content" id="dropdown-bar&bistro">
					<a href="/barbistro">Meny</a>
					<a href="/placeholder">Premiärfredag</a>
					<a href="/placeholder">Filmquiz</a>
				</div>
			</div>
		</li>
	</ul>
</nav>
