<script src="/js/reviewList.js" defer></script>

<section class="movie-details-reviews">
	<h2>Recensioner</h2>
	<ul id="reviewList"></ul>
	<button type="button" id="buttonPrev"></button>
	<button type="button" id="buttonNext"></button>
</section>
