<div class="bar-bistro-main">
	<h2>VÄLKOMMEN TILL TOMTENS BAR & BISTRO</h2>
	<p>
		Hos oss kan du njuta av ett modernt och rustikt jul kök. Menyn kan avnjutas
		i vår stora foajé eller i någon av våra tre biosalonger.
	</p>
	<a href="#">Boka bord</a>
	<h3>À LA CARTE MENY</h3>
	<ul>
		<li>
			<span>Nattbakad grissida </span>med chili och ingefärsglace, smörrostad
			brysselkål, citron & persiljerotspuré och rostade mandlar. (170 kronor)
		</li>
		<li>
			<span>Stekt polenta </span>med parmesan och smör. Serveras med örtriccotta
			och varm vintersallad på savoykål och rotfrukter. (170 kronor)
		</li>
		<li>
			<span>Spegelns Caesarsallad </span>med sotad kyckling, serranoskinka,
			parmesan och syrat äpple. (165 kronor)
		</li>
		<li>
			<span>Kökets Special </span>en ny favoriträtt från Spegelns kocklag
			varannan vecka! (145 kronor)
		</li>
	</ul>
	<h3>BISTROMENY</h3>
	<ul>
		<li>
			<span>Ost och charklåda </span>med charkuterier, ost, hemmagjorda
			tillbehör och hembakat bröd. (160 kronor)
		</li>
		<li>
			<span>Ostlåda </span>med tre sorters ost med hemmagjorda tillbehör och
			hembakat bröd. (160 kronor)
		</li>
		<li>
			<span>Veganlåda </span>med vår egen svamppaté och cashewost med
			fikonmarmelad, fröknäcke, oliver och pickles – Vegansk (150 kronor)
		</li>
		<li>
			<span>Handskalade räkor </span>med skånsk senapsmajo, tångcaviar och ägg.
			Serveras med hembakat bröd. (129 kr)
		</li>
		<li>
			<span>Tångcaviar och rotfruktschips </span>med dillcrèmefraiche, gräslök
			och picklad lök – Vegansk (89 kronor)
		</li>
	</ul>
	<a href="">Boka bord via info@tomtensbiograf.se</a>
</div>
