<script src="js/giftcertificate.js" defer></script>

<section class="container content-section">
	<h2 class="section-header">Presentkort</h2>
	<div class="shop-items">
		<div class="shop-item">
			<span class="shop-item-title">Presentkort 1</span>
			<img class="shop-item-image" src="img/presentkort100.png" />
			<div class="shop-item-details">
				<span class="shop-item-price">100kr</span>
				<button class="btn btn-primary shop-item-button" type="button">
					Lägg till kundvagn
				</button>
			</div>
		</div>
		<div class="shop-item">
			<span class="shop-item-title">Presentkort 2</span>
			<img class="shop-item-image" src="img/presentkort250.png" />
			<div class="shop-item-details">
				<span class="shop-item-price">250kr</span>
				<button class="btn btn-primary shop-item-button" type="button">
					Lägg till kundvagn
				</button>
			</div>
		</div>
		<div class="shop-item">
			<span class="shop-item-title">Presentkort 3</span>
			<img class="shop-item-image" src="img/presentkort350.png" />
			<div class="shop-item-details">
				<span class="shop-item-price">350kr</span>
				<button class="btn btn-primary shop-item-button" type="button">
					Lägg till kundvagn
				</button>
			</div>
		</div>
		<div class="shop-item">
			<span class="shop-item-title">Presentkort 4</span>
			<img class="shop-item-image" src="img/presentkort500.png" />
			<div class="shop-item-details">
				<span class="shop-item-price">500kr</span>
				<button class="btn btn-primary shop-item-button" type="button">
					Lägg till kundvagn
				</button>
			</div>
		</div>
	</div>
</section>

<section class="container content-section">
	<h2 class="section-header">Kundvagn</h2>
	<div class="cart-row">
		<span class="cart-item cart-header cart-column">Artikel</span>
		<span class="cart-price cart-header cart-column">Pris</span>
		<span class="cart-quantity cart-header cart-column">Antal</span>
	</div>
	<div class="cart-items"></div>

	<div class="cart-total">
		<strong class="cart-total-title">Summa</strong>
		<span class="cart-total-price">0 Kr</span>
	</div>
	<button class="btn btn-primary btn-purchase" type="button">BESTÄLL</button>
</section>
